PORT=8787
GLOBALPING_API_URL=https://api.globalping.io/v1/measurements
GLOBALPING_TOKEN=
MEASUREMENT_PROVIDER=globalping
GEOIP_PROVIDER=ip-api
IP_API_URL=http://ip-api.com
IP_API_KEY=
IPINFO_TOKEN=
GEOIP_TIMEOUT_MS=1400
REVERSE_DNS_TIMEOUT_MS=900
VITE_CARTO_API_KEY=
